@use "base";

.bottom-menu-container {
  display: block;
  height: auto;
  width: 100%;
  min-height: 200px;
  background-color: base.$dark-bg-color;
  overflow: hidden;
}

.footer-container {
  display: grid;
  grid-template-columns: 2fr auto auto auto;
  grid-template-rows: auto; /* Two rows with specific heights */
  padding: 3em;
  gap: 5rem; /* Gap between grid items */
  background-color: base.$dark-bg-color;
  margin: 0 auto;
  max-width: 1250px;
  color: white;
}

.vline {
  background-color: rgba($color: #fff, $alpha: .4);
  width: 1px;
  height: 9em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.site-details {
  display: block;
  transform: translateY(-15px);

  .brand {
    font-family: 'Dthulth', 'Poppins', serif;
    font-size: 2em;
  }

  & p {
    font-size: 1.05em;
    font-family: AljazeeraFontBold, "Poppins", sans-serif;
    font-weight: 500;
  }  

  .contact-ways {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.credits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 8px;
  background-color: black;

  & p {
    color: #adbfc6;
    font-size: 1.11em;
  }
}

.footer-section-title {
  font-family: AljazeeraFontBold, "Poppins", sans-serif;
  font-size: 1.3em;
  text-transform: capitalize;
  padding: 8px 0;
}

.footer-section-items {
  list-style: none;
  font-family: AljazeeraFontBold, "Poppins", serif;
  font-size: 1.1em;
  line-height: 28px;
  text-transform: capitalize;
}

.footer-section-item {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}